<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <img class="round" [attr.src]="server+world.logo" />
  <span id="worldname"> {{world.name}} </span>
  <span [innerHTML]="world.money | bigvalue"> </span>
  <button type="button" class="btn btn-dark float-right" >{{qtmulti}}</button>
</div> 
<app-product [qtmulti]="qtmulti" [prod]="world.products.product[0]" (notifyProduction)="onProductionDone($event)" class="product col-md-12">
</app-product>



