<div class="container-fluid">
    <div class="col-md-2 ">
        <div class="row ">
            <img class="round" [attr.src]="server+product.logo" (click)="startFabrication()"/>
        </div>
        <div class="row ">
            <span id="nb_Product"> {{product.quantite}} </span>  
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="progress" #bar>   </div>
        </div>
        <div class="row">            
            <span class="texte_revenu"> {{product.revenu}}</span>
        </div>
        <div class="row">
            <div class="col-md-10">
                <button type="button" class="btn btn-dark float-right" (click)="buyProduct()"> Try  </button> 
                <span> {{nbAchat}} death(s)</span>
                <span> for {{prix}} </span>
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>  
            </div>
            <div class="col-md-2"> {{product.timeleft}}</div>
        </div>
    </div>
</div>


